<header class='px-4 text-black'>
  <div class='flex items-end justify-between max-w-[780px] mx-auto pt-8 pb-2'>
    <p
      style={{ fontFamily: 'Avenir-Roman, sans-serif' }}
      class='text-2xl font-bold'
    >
      PHP Conference Hiroshima
    </p>
    <nav>
      <ul class='flex gap-4 font-bold'>
        <li
          style={{ fontFamily: 'Avenir-Roman, sans-serif' }}
          class='relative hover:text-[#888] hover:after:w-full hover:after:transform hover:after:-translate-x-1/2 after:content-[""] after:block after:absolute after:w-0 after:left-1/2 after:-translate-x-1/2 after:bg-[#fff] after:h-[3px] after:rounded-full after:duration-200 after:transition-all after:bottom-[-10px] hover:transition-all hover:after:bg-[#dfc2fc]'
        >
          <a href="#news">News</a>
        </li>
        <li
          style={{ fontFamily: 'Avenir-Roman, sans-serif' }}
          class='relative hover:text-[#888] hover:after:w-full hover:after:transform hover:after:-translate-x-1/2 after:content-[""] after:block after:absolute after:w-0 after:left-1/2 after:-translate-x-1/2 after:bg-[#fff] after:h-[3px] after:rounded-full after:duration-200 after:transition-all after:bottom-[-10px] hover:transition-all hover:after:bg-[#dfc2fc]'
        >
          <a href="#sponsors">Sponsors</a>
        </li>
        <li
          style={{ fontFamily: 'Avenir-Roman, sans-serif' }}
          class='relative hover:text-[#888] hover:after:w-full hover:after:transform hover:after:-translate-x-1/2 after:content-[""] after:block after:absolute after:w-0 after:left-1/2 after:-translate-x-1/2 after:bg-[#fff] after:h-[3px] after:rounded-full after:duration-200 after:transition-all after:bottom-[-10px] hover:transition-all hover:after:bg-[#dfc2fc]'
        >
          <a href="#staff">Staff</a>
        </li>
      </ul>
    </nav>
  </div>
</header>